@charset "UTF-8";

#character {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	display:flex;
	background-color: aliceblue;
	align-items: center;
	justify-content: center;
}

#c_info {
	margin: 5px;
	width: 250px;
	height: 150px;
	border: 1px navy solid;
	background-color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
}