@charset "UTF-8";

.join {
	margin: 100px;
	background-color: aliceblue;
	padding: 50px;
	min-height: 300px;
	display: grid;
	align-items:center;
	justify-content: center;
	text-align: center;
}
button{
	background-color:#d2eed7;
}
.join_m{
	text-align: left;
	display: grid;
	align-items:center;
	justify-content: center;
	width: 400px;
	height:300px;
	background-color: white;
	border: dashed 0.1px #959595;
	border-radius:15px;
}
input::placeholder{
	color: white;
}