@charset "UTF-8";

#fridge {
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 4;
}

#f_btn {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 1;
}

#f_open {
	grid-row-start: 2;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 6;
	display: grid;
	grid-template-rows: 20px 180px;
	grid-template-columns: 240px 240px;
	align-items: center;
	justify-content: center;
}

#content_t {
	width: 240px;
	grid-row-start: 1;
	grid-row-end: 2;
	color: navy;
	font-size: 16px;
	text-align: center;
}

#f_inside {
	grid-row-start: 2;
	grid-row-end: 3;
	width: 240px;
	height: 180px;
	display: grid;
	grid-template-columns: 60px 60px 60px 60px;
	background-color: #e4ecfe;
}

#f_b_food {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-left: 60px;
	display: grid;
	width: 120px;
	height: 180px;
	grid-template-columns: 60px 60px;
	background-color: #bfd0f9;
}

#fridgeimg {
	width: 96px;
}

#player {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 4;
	grid-column-end: 5;
	width: 70px;
}