@charset "UTF-8";

#desk {
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
}

#deskimg {
	width: 100px;
}

#player {
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 4;
	width: 100px;
}
#playerimg2{
	width: 90px;
}