@charset "UTF-8";

#sp1 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

#sp2 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

#sp3 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
}

#sp4 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
}

#sp1 img {
	width: 70px;
	height: 50px;
}

#sp2 img {
	width: 70px;
	height: 50px;
}

#sp3 img {
	width: 110px;
	margin-bottom: 5px;
}

#sp4 img {
	width: 100px;
	height: 50px;
}

#wall {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 6;
}

#wall2 {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 4;
	grid-column-end: 6;
}

#wall img {
	width: 150px;
}

#wall2 img {
	width: 150px;
}

#coin {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 4;
}

#player {
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
	width: 100px;
}

#player2 {
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
	width: 100px;
}

#player img {
	width: 60px;
}

#player2 img {
	width: 80px;
}