@charset "UTF-8";

.content {
	align-items: center;
	justify-content: center;
}
.myInfo a {
	color: #0080ff;
	font-weight: bolder;
}
.myInfo a:hover {
	color: #ff8c00;
}
.mypage {
	width: 600px;
	height: auto;
	padding: 20px;
	margin: 30px;
	background-color: #f8f8f8;
	border: dashed 0.1px #959595;
	display: grid;
	grid-template-rows: 200px auto;
}

.myInfo {
	background-color: white;
	margin: 20px;
	padding: 20px;
}

#t {
	font-weight: bolder;
	font-size: 1.1em;
}

#p {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-weight: normal;
	font-size: 1em;
}
#y{
	display: grid;
	padding:10px;
	grid-template-columns: 80px 100px;
}
#x {
	background-color: white;
	margin: 20px;
	padding: 20px;
	min-height: 400px;
}
.list {
	font-weight: normal;
	color: #636363;
	padding: 30px;
	background-color: white;
}
.list_z{
	min-height: 310px;
}
.list_m {
	width: 470px;
	display: grid;
	grid-template-rows: 30px auto auto;
}
.email{
	width: 400px;
	display: grid;
	margin:auto;
	align-items:center;
	justify-content:center;
}
.list_n {
	text-align: center;
	vertical-align: center;
	height: auto;
	display: grid;
	grid-template-columns: 100px 250px 30px 50px;
	font-size:1em;
	border-bottom: 0.1px solid #e8e8e8;
}
.list_n input{
	width:20px;
}

.page{
	text-align:center;
	height:40px;
	font-size:18px;
}
