@charset "UTF-8";

#t {
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: #ffd78a;
}

#title {
	font-weight: bolder;
	font-style: italic;
	color: beige;
}

#n {
	grid-column-start: 1;
	grid-column-end: 4;
	display: grid;
	grid-template-columns: 300px 80px 300px;
	justify-content: center;
	align-items: center;
}

#w {
	grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-rows: 100px 50px 100px;
	justify-content: center;
	align-items: center;
}

#e {
	grid-column-start: 3;
	grid-column-end: 4;
	display: grid;
	grid-template-rows: 100px 50px 100px;
	justify-content: center;
	align-items: center;
}

#s {
	grid-row-start: 4;
	grid-column-start: 1;
	grid-column-end: 4;
	display: grid;
	grid-template-columns: 300px 80px 300px;
	justify-content: center;
	align-items: center;
}
#ns_btn{
	grid-column-start: 2;
	grid-column-end: 3;
	width: 80px;
	height: 40px;
}
#we_btn{
	grid-row-start: 2;
	grid-row-end: 3;
	width: 80px;
	height: 40px;
}
#c {
	width: 480px;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
#screen_c{
	background-color: white;
	display: grid;
	width: 480px;
	grid-template-rows: 50px 50px 50px 50px 50px;
	grid-template-columns: 96px 96px 96px 96px 96px;
	align-items: center;
	justify-content: center;
}
#playerimg{
	width: 70px;
}
#screen_c button{
	color: white;
	border-color: white;
	background-color: cornflowerblue;
	width: 95px;
	height: 30px;
	margin-left: 1px;
}
button{
	color: white;
	border-color: white;
	background-color: pink;
}