@charset "UTF-8";

#system {
	display: grid;
	width: 680px;
	height: 280px;
	grid-template-rows: 30px 220px 30px;
	grid-template-columns: 580px 100px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

img {
	width: 38px;
}
.btn{
	background-color: cornflowerblue;
}
#s_info {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #ffd78a;
	font-size: 15px;
}

#s_menu_right_t {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: rgba(100, 148, 237, 0.267);
}

#s_content {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
	background-color: aliceblue;
	align-items:center;
	justify-content:center;
}

#s_menu_right {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: white;
	display: grid;
	grid-template-columns: 50px 50px;
	grid-template-rows: 50px 15px 50px 15px 50px 15px 25px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.icon {
	margin-top: 5px;
}

.icon_t {
	background-color: #ffd78a;
	margin-left:3px;
	font-size:10px;
	width: 45px;
	font-weight: normal;
}

#icon1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#icon1_t {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#icon2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#icon2_t {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	width: 45px;
}

#icon3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#icon3_t {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

#icon4 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#icon4_t {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}

#icon5 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;
}

#icon5_t {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 7;
}

#icon6 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
}

#icon6_t {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;
}

#s_banner_bot {
	border-top: 1.5px solid navy;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}
